plugins = []
headers = []
redirects = []

[functions]
  included_files = ["data/**"]

  [functions."*"]

[build]
publish = "."
functions = "netlify/functions"

  [build.environment]

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]
